body {
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

pre {
    background-color: #eee;
    padding: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    overflow-x: auto;
}

p code {
    background-color: #eee;
    font-size: 14px;
    padding: 1px;
}

.previous_next_articles {
    text-align: center;
}

    .previous_next_articles a {
        width: 45%;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.center {
    text-align: center;
}

article .small,
.comments .small,
footer .small {
    font-size: .8em;
}

article .date {
    font-size: .85em;
}