<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <style>
			body {
				font-family: "Trebuchet MS", Helvetica, sans-serif;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/pygment_trac.css" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>
		{{ content }}

		<footer>
		&copy; {{ site.time | date: "%Y" }} <a href="{{ site.url }}">Joseph Daigle</a>
		<br />
		Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
		</footer>
    </body>
</html>