---
layout: default
---

<h1 class="center"><a href="/">{{ site.name }}</a></h1>

<article>
    <div class="previous_next_articles">
      {% if page.previous.url %} 
        <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" style="float:left;">&laquo; {{page.previous.title}}</a> 
      {% endif %}
      {% if page.next.url %} 
        <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" style="float:right;">{{page.next.title}} &raquo;</a> 
      {% endif %} 
    </div>
    <div style="clear:both; height: 0; margin: 0; padding: 0;"></div>
    <h2>{{ page.title }}{{ .shortUrl }}</h2>
    <span class="date">First published on {{ page.date | date: "%B %e, %Y"  }}</span>
    {{ content }}
</article>

<div class="comments">
  <h3>Comments</h3>
  <p class="small">Comments are not moderated. But I reserve the right to delete anything hostile, offensive, or SPAMy.</p>
  <iframe id="comments-frame" data-commentr-permalink="{{ site.url }}{{ page.url }}" style="display: none;"></iframe>
  <script id="comments-script" src="http://commentr.azurewebsites.net/js"></script>
</div>
