---
layout: base
---
<header>
	<h3>TODO: Site Title, etc.</h3>
</header>


<section>

<h1>{{ page.title }}</h1>
<h2>{{ page.date | date: "%B %e, %Y" }}</h2>
<h6>
	{% if page.previous.url %} 
		<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" style="float:left;">&laquo; {{page.previous.title}}</a> 
	{% endif %} 
	
	{% if page.next.url %} 
		<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" style="float:right;">{{page.next.title}}&raquo; </a> 
	{% endif %} 
</h6>
<div style="clear:both;"></div>
<div>
	{{ content }}
</div>
<h6><a href="{{ site.url }}/index.html">Back to Index</a></h6>
</section>